<html>
    <head>
        <title>DOTA Drafter</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
		<style>
            @font-face {
                font-family: nevis;
                src: url("/static/fonts/nevis.ttf");
            }
            
            body {
                background-color: #DDDDDD;
                background-image: url("/static/images/background.png");
                background-repeat:no-repeat;
                background-size: 100%;
                font-family: nevis;
            }
            
            .ui-autocomplete {
                max-height: 100px;
                overflow-y: auto;
                overflow-x: hidden;
            }
            
			div.pick > img {
				width:100%;
			}
            
            #picks {
                color: black;
            }
            
            #r_suggest,
            #d_suggest{
                width:150;
                display:flex;
                flex-wrap:wrap;
                align-items:flex-start;
                align-self:flex-start;
                margin-top:15px;
            }
            
            .r_suggest,
            .d_suggest{
                margin:2px;
                border:1px solid;
                border-color:#CCCCCC;
                padding:3px;
                width:60px;
                cursor:pointer;
                cursor:hand;
                border-radius:2px;
                background-color:#D0D0D0;
                color:black;
            }
            
            .r_suggest > span,
            .d_suggest > span{
                display:block;
                width:100%;
                padding-left: 12px;
                padding-top:2px;
            }
            
            div.pick{
                border-style:inset;
                border-width:5px;
                border-radius:5px;
                background-color:#D0D0D0;
                margin:10px;
                width:135px;
                height:76px;
                cursor:pointer;
                cursor:hand;
            }
            
            div.nopick{
                cursor:default;
            }
            
            #buttons > button{
                margin:5px;
            }
		</style>
        <script>
            function get_args() {
                var prmstr = window.location.search.substr(1);
                var params = {};
                if (!prmstr || prmstr.length == 0){
                    return params;
                }
                var prmarr = prmstr.split("&");
                for ( var i = 0; i < prmarr.length; i++) {
                    var tmparr = prmarr[i].split("=");
                    params[tmparr[0]] = tmparr[1];
                }
                return params;
            }

            var get_hero_portrait = function(h, hq){
                var url = '<img src="http://cdn.dota2.com/apps/dota2/images/heroes/' + h.split(" ").join("_");
                if (hq){
                    url += '_lg.png">';
                } else {
                    url += '_sb.png">';
                }
                return url;
            }
            
            var radiant_heroes = [];
            var dire_heroes = [];
            var radiant_suggestions = [];
            var dire_suggestions = [];
            var prediction = [];
            var loading = false;
            
            var set_loading = function(load){
                loading = load;
                if (load){
                    $("#loader").show();
                } else {
                    $("#loader").hide();
                }
            }
            
            var draw_picks = function(){
                $("#r_heroes").html('');
                $("#d_heroes").html('');
                
                for (h in radiant_heroes){
                    var hero = radiant_heroes[h];
                    $("#r_heroes").append('<div id="' + hero + '" title="' + hero + '" class="pick">' + get_hero_portrait(hero, true) + '</div>');
                }
                for (h in dire_heroes){
                    var hero = dire_heroes[h];
                    $("#d_heroes").append('<div id="' + hero + '" title="' + hero + '" class="pick">' + get_hero_portrait(hero, true) + '</div>');
                }
                
                var d_slots = 5-$("#d_heroes").children().length;
                var r_slots = 5-$("#r_heroes").children().length;
                for (var i=0; i<d_slots; i++){
                    $("#d_heroes").append('<div class="pick nopick"></div>');
                }
                for (var i=0; i<r_slots; i++){
                    $("#r_heroes").append('<div class="pick nopick"></div>');
                }
                
                $("#r_heroes > div.pick").click(function(){
                    if (loading){
                        return;
                    }
                    if ($(this)[0].id.length > 0){
                        if (radiant_heroes.indexOf($(this)[0].id) > -1){
                            radiant_heroes.splice(radiant_heroes.indexOf($(this)[0].id), 1);
                        }
                        calc();
                    }
                });
                $("#d_heroes > div.pick").click(function(){
                    if (loading){
                        return;
                    }
                    if ($(this)[0].id.length > 0){
                        if (dire_heroes.indexOf($(this)[0].id) > -1){
                            dire_heroes.splice(dire_heroes.indexOf($(this)[0].id), 1);
                        }
                        calc();
                    }
                });
            }
            
            var draw_suggestions = function(r_search, d_search){
                $("#r_suggest").html('');
                $("#d_suggest").html('');
                var r_suggest = [];
                if (r_search && r_search.length > 0) {
                    for (var i=0;i<radiant_suggestions.length;i++){
                        var hero = radiant_suggestions[i];
                        if (hero.hero.indexOf(r_search.toLowerCase()) > -1){
                            r_suggest.push(hero);
                        }
                    }
                } else {
                    r_suggest = radiant_suggestions;
                }
                r_suggest = r_suggest.sort(function(b,a){
                    return a.score-b.score;
                })
                for (var i=0;i<((16 < r_suggest.length)? 16 : r_suggest.length);i++){
                    var hero = r_suggest[i];
                    var score = ((hero.score-prediction[0])*100).toFixed(1);
                    if (score > 0) {
                        score = "+" + score;
                    }
                    var html = '<div data-hero="' + hero.hero + '" title="' + hero.hero + '" class="r_suggest">'
                    html += get_hero_portrait(hero.hero);
                    html += '<span>' + score + '</span>';
                    html += '</div>';
                    $("#r_suggest").append(html);
                }
                
                var d_suggest = [];
                if (d_search && d_search.length > 0) {
                    for (var i=0;i<dire_suggestions.length;i++){
                        var hero = dire_suggestions[i];
                        if (hero.hero.indexOf(d_search.toLowerCase()) > -1){
                            d_suggest.push(hero);
                        }
                    }
                } else {
                    d_suggest = dire_suggestions;
                }
                d_suggest = d_suggest.sort(function(b,a){
                    return a.score-b.score;
                })
                for (var i=0;i<((16 < d_suggest.length)? 16 : d_suggest.length);i++){
                    var hero = d_suggest[i];
                    var score = ((hero.score-prediction[1])*100).toFixed(1);
                    if (score > 0) {
                        score = "+" + score;
                    }
                    var html = '<div data-hero="' + hero.hero + '" title="' + hero.hero + '" class="d_suggest">'
                    html += get_hero_portrait(hero.hero);
                    html += '<span>' + score + '</span>';
                    html += '</div>';
                    $("#d_suggest").append(html);
                }
                
				$("div.r_suggest").click(function(){
                    if (loading){
                        return;
                    }
                    $("#r_hero_input").val($(this).data('hero'));
                    calc();
                });
                $("div.d_suggest").click(function(){
                    if (loading){
                        return;
                    }
                    $("#d_hero_input").val($(this).data('hero'));
                    calc();
                });
            }
            
            var calc =  function(){
                if (loading){
                    return;
                }
                set_loading(true);
                
                draw_picks();
                
                radiant_heroes.push($("#r_hero_input").val().toLowerCase());
                dire_heroes.push($("#d_hero_input").val().toLowerCase());
                
                $("#r_hero_input").val('');
                $("#d_hero_input").val('');
                
                $.ajax({
                    dataType: "json",
                    url: "/calc",
                    data: {
                        r_hero_input: radiant_heroes.join(','),
                        d_hero_input: dire_heroes.join(',')
                    }
                }).done(function(data) {
                    radiant_heroes = data.heroes.r;
                    dire_heroes = data.heroes.d;
                    draw_picks();
                    
                    prediction = data.prediction;
                    $("#r_score").html((data.prediction[0]*100).toFixed(1) + "%")
                    $("#d_score").html((data.prediction[1]*100).toFixed(1) + "%")
                    
                    radiant_suggestions = data.heroes.r_next;
                    dire_suggestions = data.heroes.d_next;
                    draw_suggestions();
                }).always(function() {
                    set_loading(false);
                });
            };
            
            var reset = function(){
                if (loading){
                    return;
                }
                $(":input").val('');
                radiant_heroes = [];
                dire_heroes = [];
                calc();
            }
            
            var swap = function(){
                if (loading){
                    return;
                }
                $(":input").val('');
                var r_heroes = radiant_heroes;
                radiant_heroes = dire_heroes;
                dire_heroes = r_heroes;
                calc();
            }
            
            var share = function(){
                var url = 'http://' + window.location.hostname + "/";
                url += "?radiant_heroes=" + radiant_heroes.join(",");
                url += "&dire_heroes=" + dire_heroes.join(",");
                window.prompt("Copy URL:", url);
            }
            
            $(function() {
                $("button").button();
                var args = get_args();
                if (args.radiant_heroes) {
                    radiant_heroes = args.radiant_heroes.split(",");
                }
                if (args.dire_heroes) {
                    dire_heroes = args.dire_heroes.split(",");
                }
                calc();
                $(":input").keyup(function (e) {
                    if (e.keyCode == 13) {
                        calc();
                    }
                });
                
                var heroes = [
                    {% for hero in heroes %}'{{hero}}',{% endfor %}
                ];
                $(":input").autocomplete({source: heroes});
                $(":input").on('input', function(){
                    draw_suggestions($("#r_hero_input").val(), $("#d_hero_input").val());
                });
                $("#r_hero_input").on('autocompleteselect', function(event, ui){
                    $("#r_hero_input").val(ui.item.label);
                    calc();
                });
                $("#d_hero_input").on('autocompleteselect', function(event, ui){
                    $("#d_hero_input").val(ui.item.label);
                    calc();
                });
            });
        </script>
    </head>
    <body>
        <label style="font-size:32px; display:block; margin:auto; width:250px; color:white; margin-top:20px">DOTA Drafter</label>
        <div style="width:80%; max-width:1100px; margin:auto; padding:60px; margin-top:110px; background-color:white; box-shadow: 2px 2px 2px #050505; border-radius:2px">
            <div style="max-width:1000px; margin:auto;">
                <div id="picks" style="display:flex">
                    <div style="flex:1; margin:10px">
                        <label>Radiant:</label><br>
                        <input id="r_hero_input" style="width:100%">
                    </div>
                    <div style="flex:1; margin:10px">
                        <label>Dire:</label><br>
                        <input id="d_hero_input" style="width:100%">
                    </div>
                </div>
                <div style="display:flex">
                    <div id="r_suggest">
                    </div>
                    <div style="border-style:groove; border-width:0px; border-radius:10px; flex:1; display:flex; margin:5px 15px 15px 15px">
                        <div id="r_heroes" style="margin:10px; flex:1">
                        </div>
                        <div style="flex:2">
                            <div id="result" style="width:90%; max-width:270px; margin:auto; margin-top:100px; font-size:2em">
                                <span id="r_score" style="color:green"></span> vs <span id="d_score" style="color:red"></span>
                            </div>
                            <div style="margin-top:50px">
                                <div id="buttons" style="display:flex; justify-content:center">
                                    <button onclick="reset()">Reset</button>
                                    <button onclick="swap()">Swap</button>
                                    <button onclick="share()">Share</button>
                                </div>
                                <div id="loader" style="margin:auto; margin-top:60px; width:40px; display:none">
                                    <img width="100%" src="/static/images/loader.gif">
                                </div>
                            </div>
                        </div>
                        <div id="d_heroes" style="margin:10px; flex:1">
                        </div>
                    </div>
                    <div id="d_suggest">
                    </div>
                </div>
                <div style="margin:10px; display:flex; justify-content:space-between">
                    
                </div>
            </div>
        </div>
    </body>
</html>